* {
    margin: 0;
    padding: 0;
}

/* BASE */
body {
    background-color: #262626;
    font-fa*{
    padding: 0;
    margin: 0;
}
 
body{
    background-color: #262626
    ;
}
 
#casal-container {
  display: flex;
  align-items: center;
 
}
 
#casal {
  position: absolute;
  right: 0;
  top: 15%;
  width: clamp(310px, 45vw, 700px);
  z-index: -1;
}
 
#titulo-principal{
    background: #D9D9D9;
  padding: 0px 10px;
    width: 70px;
    border-radius: 0px 30px 30px 0px;
    font-size: 20px;
    text-align: center;
    margin-top: 135px;
    z-index: 2;
    position: relative;
}
 
#descricao-servicos{
    color: white;
    padding: 8px;
    font-size: 12px;
}
 
.laranja{
    color: #FF6B00;
}
 
#titulo{
   color: white;
   font-size: 18px;
   white-space: nowrap;
   margin-bottom: 8px;
}
.destaque{
    color: blueviolet;
}
 
.imagens-treinamento img{
    width: 40%;
    margin-left: 25%;
}
 
#treinamento{
  margin: 0 auto;
  padding: 2px;
  margin-top: 80px;
}
 
 
#texto_treino{
    color: white;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 0;
    line-height: 1.4;
}
 
 
.card {
  background-color: #2a2a2a;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
  padding: 10%;
  max-width: 300px;
  margin: 20px 30px;
 
}
 
#exercicios img{
 width: 40%;
  margin-left: 25%;
}
 
.roxo{
    color: #8B00FF;
}
#educativo{
    margin: 0 auto;
    color: white;
   font-size: 18px;
   white-space: nowrap;
   margin-bottom: 8px;
}
 
#Acesso{
     color: white;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 0;
    line-height: 1.4;
}
 
#profissionais{
    background-color: #ffffff;
}
 
#auxilio{
    margin: 0 auto;
    color: rgb(0, 0, 0);
   font-size: 18px;
   white-space: nowrap;
   margin-bottom: 20px;
   margin-left: 25%;
}
 
#personal{
     color: rgb(0, 0, 0);
    padding: 0 50px;
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.4;
}
#leonida img{
    width: 50px;
    margin-left: 85%;
}
 
#ia{
    color: white;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 0;
    line-height: 1.4;
}
 
.texto2{
    background-color: #373737;
    border-radius: 16px 16px 16px 16px;
    padding: 20px;
}
 
#leonidat{
    margin-left: 15%;
}
 
#musculacao img{
    width: 80%;
    margin-left: 11%;
}
 
@media (min-width: 375px){
   .imagens-treinamento{
    margin-left: 25px;
   }
 
   #exercicios{
    margin-left: 25px;
   }
 
   #casal{
     width: 96%
   }
 
}
 
 
 @media (min-width: 425px){
    #casal{
         width: 96%
    }
 
    #descricao-servicos{
        font-size: 15px;
    }
       
    #titulo-principal{
    width: 90px;
    font-size: 25px;
    }
 
    .card{
        margin-top: 10%;
    }
   
 }
 
 
 
   
 
 
 
 
 
 mily: Arial, Helvetica, sans-serif;
}
